<h2 style="margin: 10px 10px 0px 10px">Welcome to Fix Me!</h2>

<div>
    <p class="about">
        FixMe uses the <a href="http://infermedica.com/">infermedica artificial intelligence</a>
        to quickly you give a diagnosis based on your symptoms.
    </p>

    <p class="about">
        Enter your chief complaints in the diagnosis section, and infermedica will respond with a
        series of follow-up questions. Once infermedica believes you have a 50% or greater probability
        of having a condition, she will diagnose you. You can continue answering questions to get
        a more accurate diagnosis.
    </p>

    <p class="about">
        Coming soon! Once you have a diagnosis, you will then have the option to find an appropriate doctor near you
        to assist you further.
    </p>

    <p class="about">
        Please note this application is solely for educational purposes and NOT a replacement for your doctor.
        Please make an appointment with your physican for a proper consultation.
    </p>
</div>

