<form name="userSettingsForm" ng-submit="savePatientData()" class="settings-container">
    <p>Please enter some basic information so we can best make a diagnosis.</p>

    <md-input-container>
        <label>Age</label>
        <input required type="number" name="age"  ng-model="data.age" max="110">
    </md-input-container>

    <div ng-messages="userSettingsForm.age.$error" style="margin-top:-25px; padding-bottom:15px" md-auto-hide="false" multiple>
        <div ng-message="required" class="error-message">Please specify how old you are.</div>
        <div ng-message="max" class="error-message">Wow you are really old! Please put an age less than 110</div>
        <div ng-message="number" class="error-message">Hmm.. that doesn't look like a valid age.</div>

    </div>

    <md-radio-group ng-model="data.gender" required>
        <md-radio-button value="female" class="md-primary">Female</md-radio-button>
        <md-radio-button value="male">Male</md-radio-button>
    </md-radio-group>

    <md-button type="submit" md-primary>
        Save
    </md-button>
</form>

