fm-side-nav{
    background-color: #2196F3;

    md-content.sidenav-content{
        background-color: #2196F3;
        color: white;
        text-align: center;
    }


    md-toolbar{
        text-align: center;
        font-weight: 500;

        &.fix-me-logo{
            img{
                width: 35%;
                margin: 20px auto 5px;
            }
            font-size: 2.5em;
            font-family: 'Roboto Slab'
        }
    }
}

