@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(-15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(-15px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  25% {
    -webkit-transform: translateX(15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(15px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  50% {
    -webkit-transform: translateX(-15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(-15px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  75% {
    -webkit-transform: translateX(15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(15px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    -webkit-transform: translateX(0px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(0px);
    /* IE 10, Fx 16+, Op 12.1+ */ } }

@keyframes shake {
  0% {
    -webkit-transform: translateX(-15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(-15px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  25% {
    -webkit-transform: translateX(15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(15px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  50% {
    -webkit-transform: translateX(-15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(-15px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  75% {
    -webkit-transform: translateX(15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(15px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    -webkit-transform: translateX(0px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    /* IE 9 */
    transform: translateX(0px);
    /* IE 10, Fx 16+, Op 12.1+ */ } }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px; }

.main-content {
  position: relative; }

a {
  text-decoration: none;
  color: #1565C0; }

md-toolbar {
  position: relative;
  text-align: right; }
  md-toolbar .md-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100% !important;
    max-width: 80px !important;
    padding-top: 8px;
    padding-right: 8px; }
    md-toolbar .md-menu button.md-button {
      height: 100% !important;
      padding: 0;
      margin: 0;
      max-width: 60px !important;
      min-width: 60px !important;
      text-align: right; }
      md-toolbar .md-menu button.md-button img.avatar {
        height: 85%;
        border-radius: 100%; }

fm-side-nav {
  background-color: #2196F3; }
  fm-side-nav md-content.sidenav-content {
    background-color: #2196F3;
    color: white;
    text-align: center; }
  fm-side-nav md-toolbar {
    text-align: center;
    font-weight: 500; }
    fm-side-nav md-toolbar.fix-me-logo {
      font-size: 2.5em;
      font-family: 'Roboto Slab'; }
      fm-side-nav md-toolbar.fix-me-logo img {
        width: 35%;
        margin: 20px auto 5px; }

.login-panel {
  padding: 0px 30px; }
  .login-panel .login-reminder {
    font-family: 'Roboto Slab';
    margin-top: 20px;
    color: red; }

.shake {
  -webkit-animation: shake 0.5s ease-out;
  animation: shake 0.5s ease-out; }

fm-symptom-picker md-autocomplete {
  width: 50%;
  margin: 10px auto 10px; }

fm-symptom-picker md-chip {
  bottom: -10px; }

.settings-container {
  margin: 0 5vw; }
  .settings-container md-input-container {
    width: 20vw;
    margin: 20px 0 0;
    padding: 5px 0;
    font-size: 1.25em; }
  .settings-container button {
    padding: 0;
    margin: 15px;
    text-align: center;
    margin-left: -2.5vw; }

footer {
  width: 300px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -150px;
  font-size: 0.75em;
  text-align: center;
  padding-top: 20px; }
  footer p {
    padding: 0;
    margin: 0; }
  footer .social-icon {
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 0 5px; }
  footer .under-construction {
    width: 60px;
    margin: auto; }

md-content {
  padding: 10px; }
