.settings-container{
  margin: 0 5vw;

  md-input-container{
    width: 20vw;
    margin: 20px 0 0;
    padding: 5px 0;
    font-size: 1.25em;
  }

  button{
    padding: 0;
    margin: 15px;
    text-align: center;
    margin-left: -2.5vw;
  }
}