fm-symptom-picker{
        md-autocomplete{
            width:50%;
            margin: 10px auto 0px;
        }


        md-chip{
            bottom: -10px;
        }

        button[type="submit"]{
          margin: 20px 10px;
        }
}

md-chip-template{
  font-size:0.8em;
}

/* Input field (and children) are 100% width so that no text is cutoff*/
.md-chips .md-chip-input-container {
  text-align: left;
  width: 100%;
}

.md-chips .md-chip-input-container md-autocomplete {
  text-align: left;
  width: 100%;
}

.md-chips .md-chip-input-container md-autocomplete md-autocomplete-wrap {
  text-align: left;
  width: 100%;
}
